.todoModalWrapper{
  height: 100vh;
  width: 100vh;
  position: fixed;
}

.todoModalContainer {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1051;
}

.todoModalContent{
  background-color: white;
  width: 90%;
  max-width: 364px;
  min-height: 36%;
  align-self: center;
  box-shadow: 0px 5px 50px -8px rgba(96,218,250,1);
}