.todoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 350px;
  background-color: #f2f4f5;
  position: absolute;
  padding-bottom: 36px;
}
