.todoSearchContainer {
  width: 100%;
}

.todoSearch {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-inline: 20px;
  border: 0px;
  font-size: 22px;
  width: 84%;
  height: 60px;
  border-radius: 12px;
  margin-bottom: 4px;
}

.todoSearch:focus {
  outline-color: #60DAFA;
}