.todoItem {
  display: flex;
  background-color: white;
  min-width: 92%;
  max-width: 92%;
  height: 80px;
  padding-left: 16px;
  justify-content: space-between;
  box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.15);
}

.todoItem-text {
  margin: 0px;
  align-self: center;
  max-width: 72%;
}