.todoContainer {
  min-height: 0vh;
  transition: min-height 1s ease-in;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100vw;
  max-width: 460px;
  background-color: #f2f4f5;
  position: absolute;
  padding-bottom: 36px;
  border-radius: 40px;
  box-shadow: -1px 1px 11px 22px #036e92;
}

@media (max-width: 550px){
  .todoContainer {
    justify-content: initial;
    min-height: 90vh;
    transition: min-height 1s ease;
  }
}
